workflow/video_processing.json
{
  "name": "Traitement Vidéo avec Whisper",
  "nodes": [
    {
      "parameters": {
        "path": "video",
        "options": {
          "fileExtension": "mp4,mov,avi,mkv"
        }
      },
      "name": "Watch Folder",
      "type": "n8n-nodes-base.watchFolder",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "command": "source venv/bin/activate && python3 -m src.process_local_video --video \"={{$json[\"path\"]}}\" --config config.yaml --output-dir ./output"
      },
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"exitCode\"]}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "to": "admin@example.com",
        "subject": "Traitement vidéo terminé avec succès",
        "text": "=Le traitement de la vidéo {{$json[\"path\"]}} est terminé avec succès.\n\nLes résultats sont disponibles dans le dossier output."
      },
      "name": "Send Email (Success)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "to": "admin@example.com",
        "subject": "Erreur lors du traitement vidéo",
        "text": "=Une erreur s'est produite lors du traitement de la vidéo {{$json[\"path\"]}}.\n\nCode d'erreur : {{$json[\"exitCode\"]}}\n\nSortie : {{$json[\"output\"]}}"
      },
      "name": "Send Email (Error)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "path": "output",
        "options": {
          "fileExtension": "json"
        }
      },
      "name": "Watch Output",
      "type": "n8n-nodes-base.watchFolder",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "={{$json[\"path\"]}}"
      },
      "name": "Read JSON",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "to": "admin@example.com",
        "subject": "Résumé du traitement vidéo",
        "text": "=Résumé du traitement de la vidéo :\n\nTranscription : {{$json[\"transcription\"][\"full_text\"]}}\n\nRésumé court : {{$json[\"summaries\"][\"short\"]}}\n\nRésumé moyen : {{$json[\"summaries\"][\"medium\"]}}\n\nRésumé long : {{$json[\"summaries\"][\"long\"]}}"
      },
      "name": "Send Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    }
  ],
  "connections": {
    "Watch Folder": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Success)": {
      "main": [
        [
          {
            "node": "Watch Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Output": {
      "main": [
        [
          {
            "node": "Read JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "123456789"
  },
  "tags": []
} 